DS ESA4 Polczynski
=================
Part 1: I read the first 30 exercises

Part 2:
* Load the countries.csv directly via URL import into your panda data frame!
* Display some basic information as rows, columns and some basic statistical info.
* Show the last 4 rows of the data frame.
* Show all the row of countries who have the EURO
* Show only name and Currency in a new data frame
* Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)
* Select all countries where with inhabitants between 50 and 150 Mio
* Change BIP to Bip
* Calculate the Bip sum
* Calculate the average people of all countries
* Sort by name alphabetically
* Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [4]:
import pandas as pd

# directly read from url
cont = pd.read_csv("https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv")
cont2 = cont.copy() # copy of orginal for last part
cont

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [20]:
# rows, cols
print("Rows: ", cont.shape[0], "Columns: ", cont.shape[1])

# basic statistics
# country with most people
print("Country with most people: ", cont.iloc[cont["People"].idxmax()]["Name"])

# world population
print("World population: ", cont["People"].sum())

# average bip
print("Average bip: ", cont["BIP"].mean())

Rows:  5 Columns:  5
Country with most people:  Brazilia
World population:  513931468
Average bip:  2716.2

In [10]:
# last 4 rows
cont.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [27]:
# show countries with euro
print("Countries with euro:", ", ".join(cont.loc[cont["Currency"] == "EUR"]["Name"]) )

# rows
cont.loc[cont["Currency"] == "EUR"]

Countries with euro: Germany, Italy

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [29]:
# new dataframe with just Name and Currency
newcont = cont[["Name", "Currency"]].copy()
newcont

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [31]:
# show countries with more than > 2 billion USD BIP
print("Countries with more than > 2 billion USD BIP:", ", ".join(cont.loc[cont["BIP"] > 2000]["Name"]) )
cont.loc[cont["BIP"] > 2000]

Countries with more than > 2 billion USD BIP: Germany, Japan

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [45]:
# Countries with between 50 and 150 mil people
print("Countries with between 50 and 150 mil people:", ", ".join(cont.loc[(cont["People"] >= 50000000) & (cont["People"] <= 150000000)]["Name"]))

Countries with between 50 and 150 mil people: Germany, Japan, Italy

In [47]:
# Change BIP to Bip
cont.rename(columns={"BIP": "Bip"}, inplace=True)
cont

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [49]:
# Calculate Bip sum
print("Bip sum: ", cont["Bip"].sum(), " billion USD")

Bip sum:  13581  billion USD

In [50]:
# average people in countries
print("Average people in countries: ", cont["People"].mean())

Average people in countries:  102786293.6

In [54]:
# sort by name alphabetically descending
cont.sort_values("Name", inplace=True)
cont

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [5]:
# based on org data area: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
cont2.loc[cont["Area"] > 1000000 , "Area"] = "BIG"
cont2.loc[cont["Area"] <= 1000000, "Area"] = "SMALL"
cont2

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL