DS ESA 6.1
---------

* Write a Python / Panda Script which 'cleans' this data set. Justify your actions in the respective notebook or python script you provide as a solution (link, file, kaggle repo, etc.).
* The original dataset does not necessarily have to be created. A proper strategy / good arguments are more important

Load data

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#cont = pd.read_csv("https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv")
cont = pd.read_csv("../input/dsm-beuth-edl-demodata-dirty1.csv")
cont

      id              full_name ...   gender  age
0    1.0        Mariel Finnigan ...   Female   60
1    2.0          Kenyon Possek ...     Male   12
2    3.0         Lalo Manifould ...     Male   26
3    4.0         Nickola Carous ...     Male    4
4    5.0          Norman Dubbin ...     Male   17
5    6.0           Hasty Perdue ...      NaN   77
6    7.0         Franz Castello ...     Male   25
7    8.0           Jorge Tarney ...     Male   77
8    9.0     Eunice Blakebrough ...   Female   45
9   10.0  Kristopher Frankcombe ...     Male  old
10  11.0           Palm Domotor ...     Male    6
11  12.0          Luz Lansdowne ...   Female   16
12  13.0         Modestia Keble ...   Female   91
13  14.0           Stacee Bovis ...   Female   22
14  15.0              Eden Wace ...   Female   16
15  16.0              Eden Wace ...   Female   16
16  17.0        Tobias Sherburn ...     Male    2
17   NaN                    NaN ...      NaN  NaN
18  19.0         Clair Skillern ...     Male  -78
19  20.0        Mathew Addicott ...     Male   65
20  21.0       Kerianne Goacher ...   Female   45
21   NaN          Maurits Shawl ...     Male   72
22   NaN                    NaN ...      NaN  NaN

[23 rows x 7 columns]

Begin cleanups

In [40]:
nd = cont.dropna(axis=0, thresh=1) # drop rows that has more then one NaN
nd = nd.drop(['id', 'full_name'], axis=1) # get rid of ID axis as not needed and sparse; get rid off full name as redundant and non atomic
nd = nd.drop_duplicates() # get rid of duplicates
nd['age'] = nd['age'].replace( 'old', pd.to_numeric(nd['age'], errors='coerce').max() ) # replace columnes with 'old' with max age
nd['age'] = pd.to_numeric(nd['age'], errors='coerce').abs() # now make negative values positive

# keep empty email and gender around
nd = nd.fillna('') # replace NaN with empty string

nd

    first_name    last_name                           email  gender   age
0       Mariel     Finnigan             mfinnigan0@usda.gov  Female  60.0
1       Kenyon       Possek               kpossek1@ucoz.com    Male  12.0
2         Lalo    Manifould             lmanifould2@pbs.org    Male  26.0
3      Nickola       Carous               ncarous3@phoca.cz    Male   4.0
4       Norman       Dubbin          ndubbin4@wikipedia.org    Male  17.0
5        Hasty       Perdue                 hperdue5@qq.com          77.0
6        Franz     Castello             fcastello6@1688.com    Male  25.0
7        Jorge       Tarney                 jtarney7@ft.com    Male  77.0
8       Eunice  Blakebrough          eblakebrough8@sohu.com  Female  45.0
9   Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  91.0
10        Palm      Domotor             pdomotora@github.io    Male   6.0
11         Luz    Lansdowne     llansdowneb@theguardian.com  Female  16.0
12    Modestia        Keble                 mkeblec@cmu.edu  Female  91.0
13      Stacee        Bovis           sbovisd@webeden.co.uk  Female  22.0
14        Eden         Wace             ewacee@marriott.com  Female  16.0
16      Tobias     Sherburn         tsherburnf@facebook.com    Male   2.0
18       Clair     Skillern              cskillerng@nih.gov    Male  78.0
19      Mathew     Addicott  maddicotth@acquirethisname.com    Male  65.0
20    Kerianne      Goacher                                  Female  45.0
21     Maurits        Shawl                mshawlj@dmoz.org    Male  72.0